node-red/ui_controller.json
[{"id":"5887a72c329cd6ce","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"ae9ad26e83c6b086","type":"group","z":"5887a72c329cd6ce","name":"Real-Time Data Exchange: Used for showing info about the robots current state","style":{"stroke":"#ff7f7f","fill":"#ff7f7f","label":true,"color":"#000000"},"nodes":["fc85c409691295bf","73697e8956a48c82","d19eccd8c570b4c9","8e2aa0bc5009e828","705e474cb1f86f47","24b851c607bc8356","788f606b7c4831c5","d34d0343337d6283"],"env":[],"x":94,"y":807,"w":832,"h":242},{"id":"822d9361b577f858","type":"group","z":"5887a72c329cd6ce","name":"Button for checking if slot 6 is empty","style":{"stroke":"#ffcf3f","fill":"#ffcf3f","label":true,"color":"#000000"},"nodes":["82fd575a8f60185a","47d313731a9911d8","b8bd6a47eb5a5d3a","2c6f547c41a88c99","eb442c6c53019081","b569534fca8654b4"],"env":[],"x":93,"y":311,"w":872,"h":162},{"id":"7620c32ee9e473bf","type":"group","z":"5887a72c329cd6ce","name":"Button menu that sends MQTT messages to python","style":{"stroke":"#addb7b","fill":"#addb7b","label":true,"color":"#000000"},"nodes":["50d8630cae41887d","f0bad76f3c01f991","dea99721463158ca","3419ead433940b60","b54cb3474aa233f2","58eb55eb7d4ca590","adf0bdbd559633d4","9c2ef7379b23bddb","c0fd80210f676073","b7fbe4c3b1098f89","75e6917863107ad9"],"env":[],"x":94,"y":479,"w":792,"h":322},{"id":"a12e7ec982a7ee70","type":"group","z":"5887a72c329cd6ce","name":"Show Pipette Status","style":{"stroke":"#b797cf","fill":"#b797cf","label":true,"color":"#000000"},"nodes":["9309ed2d43fa29b5","693a22b03e8a989d","50784e25ac956312","f2586abfc5ae1d5c","89e1e4eab2217c76"],"env":[],"x":95,"y":1055,"w":662,"h":122},{"id":"50d8630cae41887d","type":"ui_button","z":"5887a72c329cd6ce","g":"7620c32ee9e473bf","name":"","group":"0b82e032e885eba1","order":1,"width":0,"height":0,"passthru":false,"label":"Continue","tooltip":"This button makes the robot continue it's operations.","color":"","bgcolor":"","className":"","icon":"","payload":"done","payloadType":"str","topic":"smart_pipette","topicType":"str","x":180,"y":680,"wires":[["dea99721463158ca","adf0bdbd559633d4"]]},{"id":"f0bad76f3c01f991","type":"ui_toast","z":"5887a72c329cd6ce","g":"7620c32ee9e473bf","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"className":"","topic":"","name":"Message sent!","x":780,"y":640,"wires":[]},{"id":"dea99721463158ca","type":"function","z":"5887a72c329cd6ce","g":"7620c32ee9e473bf","name":"Send status to popup","func":"\n\nmsg.payload = \"Message sent!\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":640,"wires":[["f0bad76f3c01f991"]]},{"id":"82fd575a8f60185a","type":"ui_toast","z":"5887a72c329cd6ce","g":"822d9361b577f858","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"Yes","cancel":"No","raw":false,"className":"","topic":"Is slot 6 empty in the heater?","name":"Is slot 6 empty in the heater?","x":259,"y":372,"wires":[["b8bd6a47eb5a5d3a"]]},{"id":"47d313731a9911d8","type":"ui_button","z":"5887a72c329cd6ce","g":"822d9361b577f858","name":"","group":"0b82e032e885eba1","order":2,"width":0,"height":0,"passthru":false,"label":"Move test-tube to heater","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":" ","payloadType":"str","topic":"topic","topicType":"msg","x":229,"y":432,"wires":[["82fd575a8f60185a"]]},{"id":"b8bd6a47eb5a5d3a","type":"switch","z":"5887a72c329cd6ce","g":"822d9361b577f858","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Yes","vt":"str"},{"t":"eq","v":"No","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":449,"y":372,"wires":[["eb442c6c53019081"],["2c6f547c41a88c99"]]},{"id":"2c6f547c41a88c99","type":"function","z":"5887a72c329cd6ce","g":"822d9361b577f858","name":"Don't send command","func":"\n\nmsg.info = \"Please remove the test tube from the slot 6.\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":619,"y":392,"wires":[["b569534fca8654b4"]]},{"id":"eb442c6c53019081","type":"function","z":"5887a72c329cd6ce","g":"822d9361b577f858","name":"Running program","func":"\n\nmsg.info = \"The heater in empty!\"\nmsg.topic = \"recipe\"\nmsg.payload = \"4\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":609,"y":352,"wires":[["adf0bdbd559633d4","b569534fca8654b4","dea99721463158ca"]]},{"id":"fc85c409691295bf","type":"rtde-interface","z":"5887a72c329cd6ce","g":"ae9ad26e83c6b086","name":"","x":358,"y":928,"wires":[["8e2aa0bc5009e828"]]},{"id":"73697e8956a48c82","type":"tcp in","z":"5887a72c329cd6ce","g":"ae9ad26e83c6b086","name":"TCP/IP RTDE","server":"client","host":"192.168.1.168","port":"30001","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":190,"y":928,"wires":[["fc85c409691295bf"]]},{"id":"d19eccd8c570b4c9","type":"ui_chart","z":"5887a72c329cd6ce","g":"ae9ad26e83c6b086","name":"","group":"a6e7356b08abb18e","order":7,"width":"0","height":"0","label":"Toolpose","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":820,"y":848,"wires":[[]]},{"id":"8e2aa0bc5009e828","type":"function","z":"5887a72c329cd6ce","g":"ae9ad26e83c6b086","name":"convert to series data","func":"var series = [\"toolPoseX\",\"toolPoseY\", \"toolPoseZ\" ];\nvar msg1 = [];\nvar msg2 = [];\nvar msg3 = [];\nvar labels = [\"X-axis\", \"Y-axis\", \"Z-axis\"];\n\n\nmsg1.push({x: msg.payload.robotModeData.timestamp, y: msg.payload.cartesianInfo.toolVectorX});\nmsg2.push({x: msg.payload.robotModeData.timestamp, y: msg.payload.cartesianInfo.toolVectorY});\nmsg3.push({x: msg.payload.robotModeData.timestamp, y: msg.payload.cartesianInfo.toolVectorZ});\n\nmsg.payload = [{\"series\": series, \"data\": [msg1, msg2, msg3], \"labels\": labels}];\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":928,"wires":[["d19eccd8c570b4c9","705e474cb1f86f47","24b851c607bc8356","788f606b7c4831c5","d34d0343337d6283"]]},{"id":"705e474cb1f86f47","type":"ui_text","z":"5887a72c329cd6ce","g":"ae9ad26e83c6b086","group":"a6e7356b08abb18e","order":3,"width":0,"height":0,"name":"","label":"X-axis pose: ","format":"{{msg.payload[0].data[0][0].y}}","layout":"row-left","className":"","x":830,"y":888,"wires":[]},{"id":"24b851c607bc8356","type":"ui_text","z":"5887a72c329cd6ce","g":"ae9ad26e83c6b086","group":"a6e7356b08abb18e","order":4,"width":0,"height":0,"name":"","label":"Y-axis pose: ","format":"{{msg.payload[0].data[1][0].y}}","layout":"row-left","className":"","x":830,"y":928,"wires":[]},{"id":"788f606b7c4831c5","type":"ui_text","z":"5887a72c329cd6ce","g":"ae9ad26e83c6b086","group":"a6e7356b08abb18e","order":5,"width":0,"height":0,"name":"","label":"Z-axis pose: ","format":"{{msg.payload[0].data[2][0].y}}","layout":"row-left","className":"","x":830,"y":968,"wires":[]},{"id":"d34d0343337d6283","type":"ui_text","z":"5887a72c329cd6ce","g":"ae9ad26e83c6b086","group":"a6e7356b08abb18e","order":6,"width":0,"height":0,"name":"","label":"Time:","format":"{{msg.payload[0].data[0][0].x}}","layout":"row-left","className":"","x":810,"y":1008,"wires":[]},{"id":"3419ead433940b60","type":"ui_button","z":"5887a72c329cd6ce","g":"7620c32ee9e473bf","name":"","group":"78cf625f2cd0d08c","order":3,"width":0,"height":0,"passthru":false,"label":"Recipe 1","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"1","payloadType":"str","topic":"recipe","topicType":"str","x":180,"y":520,"wires":[["adf0bdbd559633d4","dea99721463158ca"]]},{"id":"b54cb3474aa233f2","type":"ui_button","z":"5887a72c329cd6ce","g":"7620c32ee9e473bf","name":"","group":"78cf625f2cd0d08c","order":3,"width":0,"height":0,"passthru":false,"label":"Recipe 2","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"2","payloadType":"str","topic":"recipe","topicType":"str","x":180,"y":560,"wires":[["adf0bdbd559633d4","dea99721463158ca"]]},{"id":"58eb55eb7d4ca590","type":"ui_button","z":"5887a72c329cd6ce","g":"7620c32ee9e473bf","name":"","group":"78cf625f2cd0d08c","order":3,"width":0,"height":0,"passthru":false,"label":"Recipe 3","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"3","payloadType":"str","topic":"recipe","topicType":"str","x":180,"y":600,"wires":[["adf0bdbd559633d4","dea99721463158ca"]]},{"id":"adf0bdbd559633d4","type":"mqtt out","z":"5887a72c329cd6ce","g":"7620c32ee9e473bf","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0870ba2fe76c6fd1","x":810,"y":560,"wires":[]},{"id":"9c2ef7379b23bddb","type":"ui_button","z":"5887a72c329cd6ce","g":"7620c32ee9e473bf","name":"","group":"0b82e032e885eba1","order":3,"width":0,"height":0,"passthru":false,"label":"Reset","tooltip":"This button makes the robot continue it's operations.","color":"","bgcolor":"","className":"","icon":"","payload":"reset","payloadType":"str","topic":"reset","topicType":"str","x":170,"y":640,"wires":[["adf0bdbd559633d4","dea99721463158ca"]]},{"id":"b569534fca8654b4","type":"ui_text","z":"5887a72c329cd6ce","g":"822d9361b577f858","group":"a6e7356b08abb18e","order":1,"width":0,"height":0,"name":"","label":"Heater status: ","format":"{{msg.info}}","layout":"row-spread","className":"","x":859,"y":372,"wires":[]},{"id":"9309ed2d43fa29b5","type":"mqtt in","z":"5887a72c329cd6ce","g":"a12e7ec982a7ee70","name":"","topic":"pump/status","qos":"0","datatype":"auto","broker":"0870ba2fe76c6fd1","nl":false,"rap":true,"rh":0,"inputs":0,"x":191,"y":1116,"wires":[["693a22b03e8a989d"]]},{"id":"693a22b03e8a989d","type":"switch","z":"5887a72c329cd6ce","g":"a12e7ec982a7ee70","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":351,"y":1116,"wires":[["f2586abfc5ae1d5c"],["89e1e4eab2217c76"]]},{"id":"50784e25ac956312","type":"ui_text","z":"5887a72c329cd6ce","g":"a12e7ec982a7ee70","group":"a6e7356b08abb18e","order":2,"width":0,"height":0,"name":"","label":"Pipette status: ","format":"{{msg.payload}}","layout":"col-center","className":"","x":651,"y":1116,"wires":[]},{"id":"f2586abfc5ae1d5c","type":"function","z":"5887a72c329cd6ce","g":"a12e7ec982a7ee70","name":"busy","func":"msg.payload = \"The Pipette is busy!\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":481,"y":1096,"wires":[["50784e25ac956312"]]},{"id":"89e1e4eab2217c76","type":"function","z":"5887a72c329cd6ce","g":"a12e7ec982a7ee70","name":"ready","func":"msg.payload = \"The Pipette is ready!\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":481,"y":1136,"wires":[["50784e25ac956312"]]},{"id":"c0fd80210f676073","type":"ui_button","z":"5887a72c329cd6ce","g":"7620c32ee9e473bf","name":"","group":"0b82e032e885eba1","order":5,"width":0,"height":0,"passthru":false,"label":"Empty","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0","payloadType":"str","topic":"pump/empty","topicType":"str","x":170,"y":720,"wires":[["75e6917863107ad9"]]},{"id":"b7fbe4c3b1098f89","type":"ui_button","z":"5887a72c329cd6ce","g":"7620c32ee9e473bf","name":"","group":"0b82e032e885eba1","order":6,"width":0,"height":0,"passthru":false,"label":"Fill","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0","payloadType":"str","topic":"pump/fill","topicType":"str","x":170,"y":760,"wires":[["75e6917863107ad9"]]},{"id":"75e6917863107ad9","type":"ui_toast","z":"5887a72c329cd6ce","g":"7620c32ee9e473bf","position":"prompt","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"","name":"Choose a volume(uL)","x":360,"y":740,"wires":[["adf0bdbd559633d4"]]},{"id":"0b82e032e885eba1","type":"ui_group","name":"UR5","tab":"bd7efa84a6819708","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"a6e7356b08abb18e","type":"ui_group","name":"Robot Info","tab":"bd7efa84a6819708","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"78cf625f2cd0d08c","type":"ui_group","name":"Recipes for synthesis","tab":"bd7efa84a6819708","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"0870ba2fe76c6fd1","type":"mqtt-broker","name":"","broker":"192.168.1.100","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"bd7efa84a6819708","type":"ui_tab","name":"Bubble Project UR Controller","icon":"dashboard","disabled":false,"hidden":false}]
